## Basic Syntax and Variables

### Python syntax
Python syntax is clean and easy to understand. It emphasizes readability and therefore, reduces the cost of program maintenance.

In [2]:
print('Hello, world!sss 12')

Hello, world!sss 12

### Commenting code
Comments are important to explain the code. Single-line comments start with #, and multi-line comments can be created with triple quotes (''' or " ).

In [ ]:
# This is a single-line comment
'''This is a
multi-line comment'''
"""



"""

'This is a\nmulti-line comment'

### Variables and types
Variables are containers for storing data values. Python has various standard data types such as Numbers, String, List, Tuple, and Dictionary.

In [ ]:
x = 5 # int
y = 'John' # str
z = 4.5 # float

## 2.2. Operators

### Arithmetic operators
Used to perform mathematical operations like addition (+), subtraction (-), multiplication (*), etc.

Used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [ ]:
x = 5 + 2 # Addition
y = 5 - 2 # Subtraction
z = 5 * 2 # Multiplication

### Comparison operators
Used to compare values. It either returns True or False according to the condition.

Used to compare two values. Operators include


```
== (Equal)

!= (Not equal)

> (Greater than)

< (Less than)

>= (Greater than or equal to)

<= (Less than or equal to)

```

In [ ]:
x = 5
y = 2
print(x > y) # Returns True because 5 is greater than 2

True

### Logical operators
Used to combine conditional statements. Includes and, or, not.

Used to combine conditional statements. Includes
* and (Returns True if both statements are true),
* or (Returns True if one of the statements is true),
* not (Reverse the result, returns False if the result is true).

In [2]:
x = True
y = False
z = True
print(x and y or z) # Returns False because y is False

True

### Assignment operators
Used to assign values to variables. Includes =, +=, -=, etc.

Used to assign values to variables. The basic assignment operator is =, others include +=, -=, etc.

In [ ]:
x = 5
x += 3 # x = x + 3
print(x)

8

## 2.3. Basic Input and Output

### print() function
Used to print the specified message to the screen, or other standard output device.

In [ ]:
print('Hello, world!')

Hello, world!

### input() function
Allows user input.

In [4]:
name = input("Enter Your friggin name")
print("Kire",name)

Kire Niga

## 2.4. Control Structures

### if, else, and elif
Used for decision making. 'if' checks a condition, 'elif' checks another condition if the previous was false, and 'else' executes if all conditions are false.

In [ ]:
x = 2
if x > 10:
    print('x is greater than 10')
elif x == 10:
    print('x is 10')
else:
    print('x is less than 10')

x is less than 10

In [8]:
x = 1
y = 3.5
z = 3

if (x > y ):
    print ("x mamu ",x)
elif(z > y):
    print("Y mamu ",y)
else:
    print("Nika mamu",z)

Nika mamu 3

### for loops
Used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)

# Looping through a range of numbers
for i in range(5):
    print(i)

# Using the enumerate function to get index and value
for index, fruit in enumerate(['apple', 'banana', 'cherry']):
    print(index, fruit)

apple
banana
cherry
0
1
2
3
4
0 apple
1 banana
2 cherry

In [13]:
pc = ["cpu","gpu","ppu"]
for i in range(len(pc)):
    print(i+1,pc[i])

1 cpu
2 gpu
3 ppu

### while loops
Repeatedly executes the program body as long as the condition is true.

In [ ]:
# Using a while loop with a break statement
i = 0
while True:
    print(i)
    i += 1
    if i >= 5:
        break

# Using a while loop with a continue statement
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

0
1
2
3
4

### Nested loops and conditions
You can nest loops and conditional statements inside one another.

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        if i == j:
            continue
        print(i, j)

1 2
1 3
2 1
2 3
3 1
3 2

In [4]:
for i in range(5):
    for j in range(5):
        print("*",'')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

# Class

In [ ]:
number1 = int(input("Enter a value:"))
number2 = int(input("Enter a value:"))

sum = number1+number2

print("Sum of two digit is",sum)

Enter a value:5
Enter a value:5
Sum of two digit is 10

In [10]:
print("A simple Calculator: \n")
number1 = int(input("Enter a value:"))
number2 = int(input("Enter another value"))

sum = number1 +number2
min = number1 - number2
div = number1 / number2
div_int = number1// number2
multi = number1 * number2
mod = number1 % number2
expo = number1 ** number2

print(sum,min,div,div_int,multi,mod,expo)
print(type(div))

#print(sum)

A simple Calculator:

16 8 3.0 3 48 0 20736
<class 'float'>

In [ ]:
print(name)

5

In [ ]:
num1 = int(input("Enter the value for number1:"))
num2 = int(input("Enter the value for number2:"))

sum = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

print("Result of Sum=",sum)
print("Result of Sub=",sub)
print("Result of Mul=",mul)
print("Result of Div=",div)

Enter the value for number1:8
Enter the value for number2:8
Result of Sum= 16
Result of Sub= 0
Result of Mul= 64
Result of Div= 1.0

In [ ]:
if num1 > num2:
  print(num1,"is greater than ",num2)
  if num1 == 8:
    print("The value is",num1)
  else:
    print("The value is", num2)
elif num1 == num2:
  print(num1,"is equal to",num2)
else:
  print(num1,"is less than",num2)

8 is equal to 8

In [ ]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99