
# Data Structures in Python

This notebook provides an overview of some fundamental data structures in Python, including their creation, access methods, operations, and functions.

## 1. Strings
Strings are sequences of characters used to store textual data.

### Creating and Accessing Strings
```python
my_string = "Hello, World!"
first_char = my_string[0]  # H
substring = my_string[1:5]  # ello
```

In [1]:
my_string = "Hello, World!"
first_char = my_string[0]  # H
substring = my_string[1:5]  # ello

### String Operations and Functions
```python
new_string = "Hello, " + "World!"  # Concatenation
repeated_string = "Hi! " * 3  # Repetition
length = len(my_string)  # Length of the string
upper_string = my_string.upper()  # Convert to uppercase
```

In [ ]:
new_string = "Hello, " + "World!"  # Concatenation
repeated_string = "Hi! " * 3  # Repetition
length = len(my_string)  # Length of the string
upper_string = my_string.upper()  # Convert to uppercase

## 2. Lists
Lists are ordered, changeable, and allow duplicate members.

### Creating and Accessing Lists
```python
my_list = [1, 2, 3, 'Python']
first_element = my_list[0]  # 1
sublist = my_list[1:3]  # [2, 3]
```

In [2]:
my_list = [1, 2, 3, 'Python']
first_element = my_list[0]  # 1
sublist = my_list[1:3]  # [2, 3]

In [3]:
print(my_list[3])

Python


### List Operations and Functions
```python
my_list.append(4)  # Add an item
my_list.insert(1, 'inserted')  # Insert an item
my_list.pop()  # Remove an item
```

In [ ]:
my_list.append(4)  # Add an item
my_list.insert(1, 'inserted')  # Insert an item
my_list.pop()  # Remove an item

4

## 3. Tuples
Tuples are ordered and unchangeable.

### Creating and Accessing Tuples
```python
my_tuple = (1, 2, 3, 'Python')
first_element = my_tuple[0]  # 1
subtuple = my_tuple[1:3]  # (2, 3)
```

In [ ]:
my_tuple = (1, 2, 3, 'Python')
first_element = my_tuple[0]  # 1
subtuple = my_tuple[1:3]  # (2, 3)

### Tuple Operations and Functions
```python
new_tuple = my_tuple + (4, 5)  # Concatenation
repeated_tuple = my_tuple * 2  # Repetition
```

In [ ]:
new_tuple = my_tuple + (4, 5)  # Concatenation
repeated_tuple = my_tuple * 2  # Repetition

In [8]:
my_list = [] # empty list
my_list2= [5,5,5]
for i in range(10):
  my_list.append(i)

my_list.append(my_list2)
print(my_list)
my_list.pop()
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [5, 5, 5]]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for items in my_list:
  print(items)

0
1
2
3
4
5
6
7
8
9


## 4. Dictionaries
Dictionaries are unordered, changeable, and indexed.

### Creating and Accessing Dictionaries
```python
my_dict = {'name': 'Alice', 'age': 25}
name = my_dict['name']  # Alice
age = my_dict.get('age')  # 25
```

In [10]:
my_dict = {'name': 'Alice', 'age': 25}
name = my_dict['name']  # Alice
age = my_dict.get('age')  # 25
print(name,age)

Alice 25

In [17]:
student = {'std1':'2022-1-60-001',
           'std2':'2022-1-60-002'}

student['std3'] = '2022-1-60-003'
print(student['std3'])

2022-1-60-003

In [21]:
student = {}
for i in range(10):
  student["std"] = "student "+str(i)

In [22]:
print(student)

{'0std': 'student 0', '1std': 'student 1', '2std': 'student 2', '3std': 'student 3', '4std': 'student 4', '5std': 'student 5', '6std': 'student 6', '7std': 'student 7', '8std': 'student 8', '9std': 'student 9'}

### Dictionary Operations and Functions
```python
my_dict['email'] = 'alice@example.com'  # Add or update
my_dict.pop('age')  # Remove an item
```

In [ ]:
my_dict['email'] = 'alice@example.com'  # Add or update
my_dict.pop('age')  # Remove an item

25

## 5. Sets
Sets are unordered collections of unique elements.

### Creating and Accessing Sets
```python
my_set = {1, 2, 3}
for item in my_set:
    print(item)
print(2 in my_set)  # Check for presence
```

In [ ]:
my_set = {1, 2, 3}
for item in my_set:
    print(item)
print(2 in my_set)  # Check for presence

1
2
3
True

### Set Operations and Functions
```python
my_set.add(4)  # Add an item
my_set.update([4, 5, 6])  # Add multiple items
my_set.remove(4)  # Remove an item
union_set = my_set.union({3, 4, 5})  # Union of sets
```

In [ ]:
my_set.add(4)  # Add an item
my_set.update([4, 5, 6])  # Add multiple items
my_set.remove(4)  # Remove an item
union_set = my_set.union({3, 4, 5})  # Union of sets

## 6. List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. It's often appreciated for its conciseness and readability compared to traditional for loops and map/filter functions.

Syntax of List Comprehension
The basic syntax is:

```
newlist = [expression for item in iterable if condition == True]

```
Features
* Expression: This is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list.
* Item: The current item in the iteration (each loop).
* Iterable: The list, set, dictionary, or any other iterable object that you want to loop through.
* Condition: (Optional) A way to filter out items from the new list.

In [ ]:
# Creating a simple list of squares:.

squares = [x**2 for x in range(10)]

In [ ]:
# Creating a list using a condition:
even_numbers = [x for x in range(20) if x % 2 == 0]

In [ ]:
# Using multiple for loops (producing all combinations of two different lists):
combined = [(x, y) for x in [1,2,3] for y in [3,4,5] if x != y]

In [ ]:
# Using the expression as a function:
formatted_names = [name.strip().lower() for name in [" Alice ", "BOB ", "CaRoL "]]